*{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 100%;
    max-width: 400px; 
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-card h2 {
    margin-bottom: 1.5rem;
    font-size: 24px;
    color: #333;
}

.login-card input[type="text"],
.login-card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.login-card .btn-login {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    font-size: 16px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-card button:hover {
    background-color: rgb(93, 33, 150);
}

@media (max-width: 480px) {
    .login-card {
padding: 1.5rem;
    }

    .login-card h2 {
font-size: 20px;
    }

    .login-card input[type="text"],
    .login-card input[type="password"],
    .login-card button {
font-size: 14px;
    }
}